export RR_PORT=4000
export RR_ENVIRONMENT="development"

export RR_DB_DSN=test:pass@/test_db?parseTime=true&multiStatements=true
export RR_DB_MAX_OPEN_CONNS=25
export RR_DB_MAX_IDLE_CONNS=25
export RR_DB_MAX_IDLE_TIME="15m"

export RR_LIMITER_ENABLED=true
export RR_LIMITER_RPS=10
export RR_LIMITER_BURST=20

export RR_SMTP_HOST=smtp.mailtrap.io
export RR_SMTP_PORT=2525
export RR_SMTP_USERNAME=
export RR_SMTP_PASSWORD=
export RR_SMTP_SENDER=

export RR_CORS_TRUSTED_ORIGINS="https://localhost:3000 https://localhost:8080"
